@mixin right(){
  width:calc(100vw - 300px);
  margin:0px 0px 0px 300px;
  background-color:#FFFFFF;
}

.message-box{
  @include right();
  height:calc(100vh - 180px);
  overflow-y: scroll;
}
.right{
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;

  .upper-message{
    display: flex;
  &__chat_name{
    font-weight:bold;
    font-size:16px;
    font-weight: bold;
  }
  &__chat_time{
    font-size:12px;
    color:#999999;
    padding:0px 0px 0px 10px;
  }
}
.lower-message{
  margin-top: 10px;
  &__chat_comment{
    font-size:14px;
    color:#434A54;
    padding-bottom: 40px;
  }
}
}

.form{
  @include right();
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100vw - 550px);
  }
  &__mask {
    background-color: #fff;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
    &__submit {
      background-color:  #38AEF0;
      border: none;
      color: #fff;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
